.d-block{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accommodation-details__info{
    margin: 3rem;
    margin-bottom: 1.5rem;

    .accommodation-details__header{
        display: flex;
        justify-content: space-between;

        .accommodation-name{
            text-transform: uppercase;
            @include card-heading-one;
            font-size: 2.5rem;
        }

        .fa-heart{
            font-size: 2rem;
            color: $yellow
        }

    }
    
    .accommodation-location{
        @include card-location-one;
        font-size: 1.6rem;
    }

    .accommodation-reviews{
        display: flex;

        .rating-text{

            font-family: "National Medium", "sans serif";
            padding-right: .5rem;
            padding-bottom: .2rem;
            font-size: 1.2rem;
            line-height: 1.4rem;
            color: $blue;
            margin: 0;
        }

        .review-number{
            font-family: "National Light", "sans serif";
            color: grey;
            font-size: 1rem;
            margin: 0;
            line-height: 1.4rem;
        }
    }

    .accommodation-description{
        padding-top: 1.5rem;

        .description{
            font-family: "National Light", "sans serif";
            font-size: 1.2rem;
        }
    }


    @media #{$mobile} {

        margin: 1.5rem;
        margin-bottom: .75rem;
    
        .accommodation-details__header{
            display: flex;
            justify-content: space-between;
    
            .accommodation-name{
                text-transform: uppercase;
                @include card-heading-one;
            }
    
            .fa-heart{
                font-size: 1.5rem;
                color: $yellow
            }
    
        }
        
        .accommodation-location{
            @include card-location-one;
            font-size: 1.6rem;
        }
    
        .accommodation-reviews{
            display: flex;
    
            .rating-text{
    
                font-family: "National Medium", "sans serif";
                padding-right: .5rem;
                padding-bottom: .2rem;
                font-size: 1.2rem;
                line-height: 1.4rem;
                color: $blue;
                margin: 0;
            }
    
            .review-number{
                font-family: "National Light", "sans serif";
                color: grey;
                font-size: 1rem;
                margin: 0;
                line-height: 1.4rem;
            }
        }
    
        .accommodation-description{
            padding-top: 1.5rem;
    
            .description{
                font-family: "National Light", "sans serif";
                font-size: 1.2rem;
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }
        }

    }

}

.accommodation-ammenities{
    margin: 0 3rem;
    margin-bottom: 1.5rem;

    .ammenities-heading{
        text-transform: uppercase;
        @include card-heading-one;
        font-size: 2.5rem;
    }

    
    @media #{$mobile} {
        margin: 1.5rem;
        margin-bottom: .75rem;
    }

}

.accommodation-reviews-details{
    margin: 0 3rem;
    margin-bottom: 1.5rem;
    margin-right: 0;

    .reviews-heading{
        text-transform: uppercase;
        @include card-heading-one;
        font-size: 2.5rem;
    }

    .review-cards-container{
        overflow-y: scroll;
        
        .review-cards{
            width: fit-content;
            display: flex;
    
            .card{
                width: 20rem;
                padding: 1rem;
                background: $black;
                color: white;
                border-radius: 0;
                margin-right: 2rem;
    
                .card-top{
                    display: flex;
                    align-items: flex-end;
                    
    
                    .card-img-top{
                        width: 5rem;
                        height: 5rem;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 0;
                        margin-right: 1rem
                    }
    
                    .card-top-line{
                        @include review-card-top;
                
                        .card-name{
                            padding: 0;
                            margin: 0;
                        }
    
                        .card-date{
                            font-family: "National Light", sans-serif;
                            padding: 0;
                            margin: 0;
                        }
    
                    }
                }
    
                .card-body{
                    margin: 0;
                    padding: 1rem 0;
                }
    
                .card-bottom{
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    padding: 0;
                    margin: 0;
    
                    .card-rating{
                        font-size: 1.2rem;
                        line-height: 1.4rem;
                        color: $yellow;
                        padding: 0;
                        margin: 0;
                    }
                }

                @media #{$mobile} {
                    width: 15rem;
                }
            }
        }
    
    }

    @media #{$mobile} {
        margin: 1.5rem;
        margin-bottom: .75rem;
        margin-right: 0
    }
}

.accommodation-map{
    height: 40rem;
    background: cornflowerblue;

    @media #{$mobile} {
        height: 30rem;
    }
}

.accommodation-breakfast{
    margin: 1.5rem 3rem;
    margin-right: 0;



    .breakfast-heading{
        text-transform: uppercase;
        @include card-heading-one;
        font-size: 2.5rem;
    }

    .breakfast-options-container{
        overflow-y: scroll;

        .breakfast-options{
            width: fit-content;
            display: flex;

            .card{
                width: 20rem;
                // padding: 1rem;
                background: $black;
                color: white;
                border-radius: 0;
                border: none;
                margin-right: 2rem;

                .card-img-top{
                    width: 100%;
                    height: 12rem;
                    object-fit: cover;
                    object-position: bottom;
                    border-radius: 0;
                    border: none;
                    // margin-right: 1rem
                }

                .card-title{
                    @include review-card-top;
                    font-size: 1.6rem;
                    margin: 0;
                }

                .price-text{
                    font-family: "National Regular", sans-serif;
                    font-size: 1.2rem;
                    margin: 0;
                }

                .card-text{
                    font-family: "National Light", sans-serif;
                    font-size: 1rem;
                    margin: 0;
                    padding-top: 1rem;
                }

                @media #{$mobile} {
                    width: 15rem;
                    margin-right: 1.5rem;
                    height: 100%;
                }
            }
        }
        
        @media #{$mobile} {
            margin-left: 0;
        }
    }

    @media #{$mobile} {
        margin: 1.5rem;
        margin-bottom: .75rem;
        margin-right: 0
    }
}

.accommodation-dates{
    margin: 1rem 0;
    padding: 1.5rem 3rem;
    background: $black;

    
    .dates-heading{
        color: white;
        text-transform: uppercase;
        @include card-heading-one;
        font-size: 2.5rem;
    }

    .dates-container{
        margin-top: 1rem;
        // display: flex;

        .accommodation-dates{
            width: 100%;
            background: white;
            height: 100%;
            padding: 1.5rem;
            margin-right: 1.5rem;
    
            .check-in-date{
                @include review-card-top;
                font-size: 1.6rem;
                margin: 0;
                display: flex;

                p{
                    margin: 0;
                }
            }

            .check-out-date{
                @include review-card-top;
                font-size: 1.6rem;
                margin: 0;
                display: flex;

                p{
                    margin: 0;
                }
            }

   
        }    
    }

    .meals-container{
        color: white;
    }


    @media #{$mobile} {
        margin: 1rem 0;
        padding: 1.5rem;
    }
 
    
}

.accommodation-cancellation-policy{
    margin: 1.5rem 3rem;
    margin-right: 0;
    margin-bottom: 6rem;

    .cancellation-heading{
        text-transform: uppercase;
        @include card-heading-one;
        font-size: 2.5rem;
    }

    .cancellation-text{
        font-family: "National Light", sans-serif;
        font-size: 1.2rem;
        margin: 0;
    }

    @media #{$mobile} {
        margin: 1.5rem;
        margin-bottom: 6rem;
        margin-right: 0
    }
}

.accommodation-details__footer{
    max-height: 6rem;
    background: $black;
    color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    
    .cost-summary{

        h4{
            // @include card-link;
            line-height: 1rem;
        }
    }

    .cost-breakdown{
        display: flex;
        justify-content: flex-start;
        font-family: "National Light", sans-serif;
        font-size: .9rem;
        align-items: center;
        margin: 0;

        p{
            margin: 0;
        }

        .fa-circle{
            font-size: .5rem;
            padding: 0rem .5rem;
        }

        // @media #{$mobile} {
        //     display: none;
        // }
    }

    .book-now{
        padding: 0.5rem 1rem;
        color: $yellow;
        background-color: $black;
        border: solid 2px $yellow;
        font-size: 1rem;
        font-family: "National Regular", sans-serif;
    }

}


//  @media #{$mobile} {
//     .accommodation-details{
//         width: 100%;
//         position: absolute;
//         z-index: 5000;
//         // background: grey;


//         &__img-container{

//             // position: relative;
            
//             .carousel{

//                 .d-block{
//                     height: 100%;
//                     object-fit: cover;
//                     object-position: center;
//                 }
//             }

//             .header-icons{
//                 // position: absolute;
//                 color: $yellow;
//                 font-size: 1.4rem;
//                 // z-index: 5000;
//                 // width: 100%;
//                 // display: flex;
//                 // justify-content: space-between;
//                 // padding: 1rem;
//             }

//         }

//         &__header{
//             display: flex;
//             justify-content: space-between;
//             margin: 1rem;
//             margin-bottom: .25rem;
//             align-items: center;

//             .accommodation-name{
//                 // @include card-heading;
//                 font-size: 1.4rem;    
//                 margin: 0;
//             }

//             .fa-heart{
//                 color: $yellow;
//                 font-size: 1.2rem;
//             }
//         }

//         .accommodation-location{
//             margin: 0rem 1rem;
//             margin-bottom: .25rem;
//             // @include card-location;
//         }

//         .accommodation-reviews{
//             margin: .25rem 1rem;
//             display: flex;
//             align-items: center;
//             border-bottom: solid 1px lightgray;

//             .rating-text{
//                 color: $blue;
//                 font-size: 1.1em;
//                 padding-right: 0.25rem
//             }

//             .review-number{
//                 font-size: .8rem;
//             }
//         }

//         .accommodation-description{
//             margin: 1rem;
//             padding-bottom: 1rem;
//             border-bottom: solid 1px lightgray;

//             .description{
//                 // margin: 1rem;
//                 margin-bottom: 0.25rem;
//                 // @include card-body;

//                 &-link{
//                     // @include card-link;
//                     font-size: 1rem;
//                     color: $blue; 
//                     border-bottom: solid 2px $blue;
//                 }
//             }
//         }

//         .accommodation-ammenities{
//             margin: 1rem;
//             padding-bottom: 1rem;
//             border-bottom: solid 1px lightgray;

//             .ammenities-heading{
//                 // @include card-heading;
//                 font-size: 1.2rem;
//             }

//             .ammenities-link{
//                 // @include card-link;
//                 font-size: 1rem;
//                 color: $blue; 
//                 border-bottom: solid 2px $blue;
//             }
//         }

//         .accommodation-reviews-details{
//             margin: 1rem;
    
//             .reviews-heading{
//                 // @include card-heading;
//                 font-size: 1.2rem;
//             }

//             .reviews-link{
//                 // @include card-link;
//                 font-size: 1rem;
//                 color: $blue; 
//                 border-bottom: solid 2px $blue;
//             }
//         }

//         .accommodation-map{
//             height: 40vh;
//             background: $blue;
//             margin-bottom: 1rem;
//         }

//         .accommodation-breakfast{
//             margin: 1rem;

//             .breakfast-heading{
//                 // @include card-heading;
//                 font-size: 1.2rem;
//             }
//         }

//         .accommodation-dates{
//             background: $black;
//             padding: 1rem;


//             .dates-heading{
//                 color: white;
//                 // @include card-heading;
//                 font-size: 1.2rem;
//             }

//             .dates-container{
//                 display: flex;
//                 justify-content: space-between;
//                 margin: 1rem 0rem;


//                 .accommodation-dates__check-in{
//                     width: 50%;
//                     height: 6rem;
//                     margin-right: .5rem;
//                     background: white;
//                 }
        
//                 .accommodation-dates__check-out{
//                     width: 50%;
//                     height: 6rem;
//                     margin-left: .5rem;
//                     background: white;
//                 }
//             }

//             .accommodation-dates-link{
//                 // @include card-link;
//                 font-size: 1rem;
//                 color: $yellow; 
//                 border-bottom: solid 2px $yellow;
//             }
        
//         }


//         .accommodation-cancellation-policy{
//             margin: 1rem;
//             padding-bottom: 6rem;
    
//             .cancellation-heading{
//                 // @include card-heading;
//                 font-size: 1.2rem;
//             }
//         }


//         .accommodation-details__footer{
//             max-height: 6rem;
//             background: $black;
//             color: white;
//             overflow: hidden;
//             position: fixed;
//             bottom: 0;
//             width: 100%;
//             padding: 1rem;
//             display: flex;
//             justify-content: space-between;

//             .cost-summary{

//                 h4{
//                     // @include card-link;
//                     line-height: 1rem;
//                 }
//             }

//             .cost-breakdown{
//                 display: flex;
//                 justify-content: flex-start;
//                 font-family: "National Light", sans-serif;
//                 font-size: .9rem;
//                 align-items: center;
//                 margin: 0;

//                 p{
//                     margin: 0;
//                 }

//                 .fa-circle{
//                     font-size: .5rem;
//                     padding: 0rem .5rem;
//                 }

//             }

//             .book-now{
//                 padding: 0.5rem 1rem;
//                 color: $yellow;
//                 background-color: $black;
//                 border: solid 2px $yellow;
//                 font-size: 1rem;
//                 font-family: "National Regular", sans-serif;
//             }
//         }
//     }
//  }