.d-block{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accommodation-details__info{
    margin: 3rem;
    margin-bottom: 1.5rem;

    .accommodation-details__header{
        display: flex;
        justify-content: space-between;

        .accommodation-name{
            text-transform: uppercase;
            @include card-heading-one;
            font-size: 2.5rem;
        }

        .fa-heart{
            font-size: 2rem;
            color: $yellow
        }

    }
    
    .accommodation-location{
        @include card-location-one;
        font-size: 1.6rem;
    }

    .accommodation-reviews{
        display: flex;

        .rating-text{

            font-family: "National Medium", "sans serif";
            padding-right: .5rem;
            padding-bottom: .2rem;
            font-size: 1.2rem;
            line-height: 1.4rem;
            color: $blue;
            margin: 0;
        }

        .review-number{
            font-family: "National Light", "sans serif";
            color: grey;
            font-size: 1rem;
            margin: 0;
            line-height: 1.4rem;
        }
    }

    .accommodation-description{
        padding-top: 1.5rem;

        .description{
            font-family: "National Light", "sans serif";
            font-size: 1.2rem;
        }
    }


    @media #{$mobile} {

        margin: 1.5rem;
        margin-bottom: .75rem;
    
        .accommodation-details__header{
            display: flex;
            justify-content: space-between;
    
            .accommodation-name{
                text-transform: uppercase;
                @include card-heading-one;
            }
    
            .fa-heart{
                font-size: 1.5rem;
                color: $yellow
            }
    
        }
        
        .accommodation-location{
            @include card-location-one;
            font-size: 1.6rem;
        }
    
        .accommodation-reviews{
            display: flex;
    
            .rating-text{
    
                font-family: "National Medium", "sans serif";
                padding-right: .5rem;
                padding-bottom: .2rem;
                font-size: 1.2rem;
                line-height: 1.4rem;
                color: $blue;
                margin: 0;
            }
    
            .review-number{
                font-family: "National Light", "sans serif";
                color: grey;
                font-size: 1rem;
                margin: 0;
                line-height: 1.4rem;
            }
        }
    
        .accommodation-description{
            padding-top: 1.5rem;
    
            .description{
                font-family: "National Light", "sans serif";
                font-size: 1.2rem;
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }
        }

    }

}

.accommodation-ammenities{
    margin: 0 3rem;
    margin-bottom: 1.5rem;

    .ammenities-heading{
        text-transform: uppercase;
        @include card-heading-one;
        font-size: 2.5rem;
    }

    
    @media #{$mobile} {
        margin: 1.5rem;
        margin-bottom: .75rem;
    }

}

.accommodation-reviews-details{
    margin: 0 3rem;
    margin-bottom: 1.5rem;
    margin-right: 0;

    .reviews-heading{
        text-transform: uppercase;
        @include card-heading-one;
        font-size: 2.5rem;
    }

    .review-cards-container{
        overflow-y: scroll;
        
        .review-cards{
            width: fit-content;
            display: flex;
    
            .card{
                width: 20rem;
                padding: 1rem;
                background: $black;
                color: white;
                border-radius: 0;
                margin-right: 2rem;
    
                .card-top{
                    display: flex;
                    align-items: flex-end;
                    
    
                    .card-img-top{
                        width: 5rem;
                        height: 5rem;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 0;
                        margin-right: 1rem
                    }
    
                    .card-top-line{
                        @include review-card-top;
                
                        .card-name{
                            padding: 0;
                            margin: 0;
                        }
    
                        .card-date{
                            font-family: "National Light", sans-serif;
                            padding: 0;
                            margin: 0;
                        }
    
                    }
                }
    
                .card-body{
                    margin: 0;
                    padding: 1rem 0;
                }
    
                .card-bottom{
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    padding: 0;
                    margin: 0;
    
                    .card-rating{
                        font-size: 1.2rem;
                        line-height: 1.4rem;
                        color: $yellow;
                        padding: 0;
                        margin: 0;
                    }
                }

                @media #{$mobile} {
                    width: 15rem;
                }
            }
        }
    
    }

    @media #{$mobile} {
        margin: 1.5rem;
        margin-bottom: .75rem;
        margin-right: 0
    }
}

.accommodation-map{
    height: 40rem;
    background: cornflowerblue;

    @media #{$mobile} {
        height: 30rem;
    }
}

.accommodation-breakfast{
    margin: 1.5rem 3rem;
    margin-right: 0;



    .breakfast-heading{
        text-transform: uppercase;
        @include card-heading-one;
        font-size: 2.5rem;
    }

    .breakfast-options-container{
        overflow-y: scroll;

        .breakfast-options{
            width: fit-content;
            display: flex;
            height: 100%;

            .card{
                width: 20rem;
                height: 100%;
                // padding: 1rem;
                background: $black;
                color: white;
                border-radius: 0;
                border: none;
                margin-right: 2rem;

                .card-img-top{
                    width: 100%;
                    height: 12rem;
                    object-fit: cover;
                    object-position: bottom;
                    border-radius: 0;
                    border: none;
                    // margin-right: 1rem
                }

                .card-body{
                    height: 100%;
                }

                .card-title{
                    @include review-card-top;
                    font-size: 1.6rem;
                    margin: 0;
                }

                .price-text{
                    font-family: "National Regular", sans-serif;
                    font-size: 1.2rem;
                    margin: 0;
                }

                .card-text{
                    font-family: "National Light", sans-serif;
                    font-size: 1rem;
                    margin: 0;
                    padding-top: 1rem;
                }


                .card-button-container{
                    width: 100%;
                    justify-content: flex-end;
                    padding-top: 1rem;

                    .card-add{
                        @include button-one;
                        width: 100%;
                        padding: 0.5rem;
                    }
                }

                @media #{$mobile} {
                    width: 15rem;
                    margin-right: 1.5rem;
                    height: 100%;
                }
            }
        }
        
        @media #{$mobile} {
            margin-left: 0;
        }
    }

    @media #{$mobile} {
        margin: 1.5rem;
        margin-bottom: .75rem;
        margin-right: 0
    }
}

.accommodation-dates{
    margin-top: 1rem 0;
    padding: 1.5rem 3rem;
    background: $black;
    height: fit-content;

    .dates-heading{
        color: white;
        text-transform: uppercase;
        @include card-heading-one;
        font-size: 2.5rem;
    }

    .dates-container{
        margin-top: 1rem;
        margin-bottom: 0rem;
        // display: flex;

        .accommodation-dates{
            width: 100%;
            background: white;
            height: 100%;
            padding: 1.5rem;
            margin-right: 1.5rem;
    
            .check-in-date{
                font-family: "National Light", sans-serif;
                font-size: 1.2rem;
                margin: 0;
                display: flex;


                .check-in-date__heading{
                    padding-right: 0.75rem;
                }

                .date{
                    padding-right: .5rem;
                }

                p{
                    margin: 0;
                }
            }

            .check-out-date{
                font-family: "National Light", sans-serif;
                font-size: 1.2rem;
                margin: 0;
                display: flex;

                .check-out-date__heading{
                    padding-right: 0.75rem;
                }

                .date{
                    padding-right: .5rem;
                }
                

                p{
                    margin: 0;
                }
            }

   
        }    
        
    }

    .meals-container{
        padding-top: 1rem;
        color: white;


        .meal-selection{
            display: flex;
            justify-content: space-between;
        }
        
        .add-to-booking{
            // display: none;
            @include button-one;
            width: 100%;
        }
    }

    @media #{$mobile} {
        margin-top: 1rem 0;
        padding: 1.5rem;
    }
    
}

.accommodation-details__footer{
    height: 6rem;
    background: $black;
    color: white;
    overflow: hidden;
    // position: fixed;
    // bottom: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    
    .cost-summary{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4{
            // @include card-link;
            line-height: 1rem;
        }
    }

    .cost-breakdown{
        display: flex;
        justify-content: flex-start;
        font-family: "National Light", sans-serif;
        font-size: .9rem;
        align-items: center;
        margin: 0;

        p{
            margin: 0;
        }

        .fa-circle{
            font-size: .5rem;
            padding: 0rem .5rem;
        }

        // @media #{$mobile} {
        //     display: none;
        // }
    }

    .book-now{
        padding: 0.5rem 1rem;
        color: $yellow;
        background-color: $black;
        border: solid 2px $yellow;
        font-size: 1rem;
        font-family: "National Regular", sans-serif;
    }

}
