@font-face {
    font-family: "National";
    src: url("../font/national-regular\ \(1\).otf");
}

@font-face {
    font-family: "National Medium";
    src: url("../font/national-medium\ \(1\).otf");
}

@font-face {
    font-family: "National Light";
    src: url("../font/national-light\ \(1\).otf");
}

@font-face {
    font-family: "Pure Pakati Regular";
    src: url("../font/PurePakati-Regular.otf");
}