@mixin button-one{
    height: 2.5rem;
    color: $black;
    background: $yellow;
    border: none;
    padding: 0 2rem;
    font-family: "National Regular", sans-serif;
    font-size: 1rem;
    cursor: pointer;
}