@import "../bootstrap-4.5.3/scss/bootstrap.scss";

@import "resets";
@import "fonts";
@import "var";
@import "mixins";
@import "home";
@import "search";
@import "accommodationDetails";


// .intro-screen__kia-ora{
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     z-index: 5000;
    
//     .kia-ora{
//         font-family: "Pure Pakati Regular", sans-serif;
//         font-size: 8rem;
//         text-align: center;
//     }
// }

// .intro-screen__welcome{
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     z-index: 4900;
    
//     .welcome{
//         font-family: "Pure Pakati Regular", sans-serif;
//         font-size: 8rem;
//         text-align: center;
//     }
// }

// .intro-screen__manaakitanga{
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     z-index: 4800;
    
//     .manaakitanga{
//         font-family: "Pure Pakati Regular", sans-serif;
//         font-size: 8rem;
//         text-align: center;
//     }
// }


.search-results{
    min-height: 100vh;
}

.header{
    height: fit-content;
    width: 100%;
    position: relative;
    z-index: 1000;
    margin-bottom: 3rem;

    &__img{
        width: 100%;
        position: absolute;
        z-index: 5;
        filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 1));
     
        &--mobile{
            display: none;
            width: 100%;
            position: absolute;
            z-index: 5;
            filter: drop-shadow(0.25 0.25rem 0rem rgba(0, 0, 0, 1));

            @media #{$mobile} {
                display: block;
            }

        }

        @media #{$mobile} {
            display: none;
        }
    }


    .top-nav{
        max-width: 100%;
        padding: 3rem 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1000;
        top: 0;

        &__logo{
            height: 5rem;

            .logo{
                height: inherit;
            }


        }


        .top-nav__menu{
    
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .menu{
                height: 1.4rem;
                list-style: none;
                cursor: pointer;
                color: white;
                display: flex;
                align-items: center;
                margin: 0;

                &-item{
                    padding-left: 2rem;
                    font-family: "National Light", sans-serif;
                    font-size: 1.4rem;      
                    line-height: 1.4rem;    
                    
                    &:hover{
                        color: $yellow;
                    }
                }

                

                .current{
                    color: $yellow;
                    font-weight: 700;
                    font-family: "National", sans-serif;
                }
            }

            .menu-button{
                background: $blue;
                border: none;
                color: white;
                padding: 0.75rem 1.25rem;
                line-height: 1.4rem;
                text-align: center;
                margin-left: 2rem;

                &:hover{
                    color: $black;
                    background: $yellow;
                }
            }

        }

        @media #{$mobile} {
            display: none;
        }
    }



    // main filters


    .where-to{
        position: relative;
        z-index: 1000;
        margin: 0rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;

        .search-bar-container{
            display: flex;
            align-items: center;

            .search-bar{
                width: 100%;
            }
        
            .location-search{
                width: 100%;
                height: 3rem;
                padding: .5rem 1rem;
                font-size: 1rem;
                line-height: 1rem;

                @media #{$mobile} {
                    width: 100%;
                    height: 2.5rem;
                }
            }


            .fa-question-circle{
                padding-left: 1rem;
                font-size: 2rem;
                color: $yellow;

                @media #{$mobile} {
                    display: none;
                }
            }

            @media #{$mobile} {
                margin: 0;
                padding: 2rem;

            }

        }

        .search-filters{

            // display: none;
        
            &__options{
                padding: 1rem 0;
                width: 80%;

                input{
                    width: 25%;
                    height: 2.5rem;
                    margin-right: 1rem;
                    padding: 1rem;
                }

                select{
                    width: 45%;
                    height: 2.5rem;
                }
            }

            .apply-filters{

                &-btn{
                    @include button-one;
                }
            }

        }

        @media #{$mobile} {
            display: none;
        }
    }



    // more filters

    .search-summary{
        position: relative;
        z-index: 1000;
        margin: 0rem 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: none;

        &__details-container{
            width: 100%;
            display: flex;
            align-items: center;
      

            .search-summary__details{
                width: 100%;
                height: 3rem;
                padding: .5rem 1rem;
                font-size: 1rem;
                line-height: 1rem;

                @media #{$mobile} {
                    width: 100%;
                    height: 2.5rem;
                }
            }

            .fa-question-circle{
                padding-left: 1rem;
                font-size: 2rem;
                color: $yellow;

                @media #{$mobile} {
                    display: none;
                }
            }  
        }

        @media #{$mobile} {
            display: none;
        }
    }

    .further-filters{
        position: relative;
        z-index: 2000;
        margin: 0rem 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        display: none;
   
        .ammenities{
            background: white;
            
            &-list{
                display: flex;
                width: 100%;
            
                &-one{
                    width: 50%;
                }

                &-two{
                    width: 50%;
                }
    
            }
        }

        @media #{$mobile} {
            display: none;
        }
    }

     
    @media #{$mobile} {
        display: none;
    }
   

}

.content{
    height: 78vh;
    z-index: 2000;
    position: relative;
    // margin-top: 10rem;
    overflow: scroll;
    // display: none;
    background: white;

    .top-stays{
        background: white;
        padding-top: .2rem;
        // margin-right: 0;
        // padding-bottom: 1rem;
        // padding: 2rem 3rem;
        position: relative;
        z-index: 2500;
        // display: none;
   

        &__container{
            width: 100%;
            overflow: auto;
        }

        &__content{
            margin-top: 1rem;
            width: fit-content;
            display: flex;
            padding:  0rem .5rem;

            .card{
                height: fit-content;
                margin: 1.5rem;
                background-color: $black;
                color: white;
                font-family: "National Light", sans-serif;
                filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 1));

                &-img-top{
                    width: 100%;
                    height: 15rem;
                    overflow: hidden;
                    object-fit: cover;
                }

                &-body{
                    padding: 1rem;
                }

                &-title{
                    // text-transform: uppercase;
                    @include card-heading;
                    padding-bottom: .75rem;
                }

                &-location{
                    @include card-location;
                    padding-bottom: 1.25rem;
                }

                &-text{
                    @include card-body;
                    padding-bottom: 1.25rem;
                }

                &-link{
                    @include card-link;
                    border-bottom: solid 2px $yellow;
                }

                .fa-angle-right{
                    font-size: 1rem;
                }
            }

             
            @media #{$mobile} {
                display: none;
            }
        }

        .top-stays__heading{
            position: relative;
            height: fit-content;
            margin-left: 1rem;
            margin-top: 2rem;
            @include section-heading;
            padding: 1rem;
            padding-bottom: 0;
        }

        @media #{$mobile} {
            margin: 1rem 2rem;
            margin-top: 0;
        }

        @media #{$mobile} {
            display: none;
        }
       
    }

    
    @media #{$mobile} {
        margin-top: 0;
    }

    .map-container{
        width: 100vw;
        height: 60vh;
        background: cornflowerblue;
        display: flex;
        justify-content: center;
        align-items: center;
        // display: none;

        @media #{$mobile} {
            display: none;
        }
    }
    
    #map{
        width: 100%;
        height: 100%;
        background: black;
        // display: none;

        @media #{$mobile} {
            display: none;
        }
    }


    .search-results{
        position: relative;
        z-index: 2500;
        // display: none;

        &__content{
            margin-top: 1rem;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding:  0rem .5rem;

            .card{
                // height: fit-content;
                width: 32rem;
                margin: 1.5rem;
                background-color: white;
                color: $black;
                font-family: "National Light", sans-serif;
                filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 1));

                &-img-top{
                    width: 100%;
                    height: 20rem;
                    overflow: hidden;
                    object-fit: cover;
                }

                &-body{
                    padding: 1rem;
                }

                &-title{
                    // text-transform: uppercase;
                    @include card-heading;
                    padding-bottom: .25rem;
                }

                &-location{
                    @include card-location;
                    font-size: 1rem;
                    padding-bottom: .75rem;
                }

                .reviews{
                    display: flex;
                    align-items: center;
                    padding-bottom: .75rem;
                }

                .rating-text{
                    @include card-location;
                    font-family: "National Regular", sans-serif;
                    color: $blue;
                    font-size: 1.2rem;
                    padding-right: .5rem;
                }

                .review-number{
                    color: grey;
                    padding-top: .1rem;
                }


                .price-text{
                    font-family: "National Regular", sans-serif;
                    font-weight: 900;
                    font-size: 1rem;
                    padding-bottom: .75rem;
                }


                &-text{
                    @include card-body;
                    padding-bottom: 1.25rem;
                }

                &-link{
                    @include card-link;
                    color: $blue; 
                    border-bottom: solid 2px $blue;
                }

                .fa-angle-right{
                    font-size: 1rem;
                }
            }
        }

        @media #{$mobile} {
            display: none;
        }
    }


    

    @media #{$mobile} {
        height: 100vh;
    }
    @media #{$mobile} {
        display: none;
    }

}


// home styling


.home{


   
    &-landscapes, &-recommendations, &-covid-info{
        background: white;
        margin: 3rem 4rem;
        min-height: 50vh;
        position: relative;
        z-index: 2500;
        filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 1));
        display: none;

        @media #{$mobile} {
            margin: 1rem 2rem;
            margin-top: 0;
        }
    }

    &-top-stays{
        background: $black;
        margin: 1rem 0;
        height: 30vh;
        position: relative;
        box-shadow:  0 0.25rem 0.25rem black;
        // display: none;

         
        @media #{$mobile} {
            display: none;
        }
    }

    &-covid-info{
        margin-bottom: 0.5rem;
        display: none;
    }

    @media #{$mobile} {
        margin-top: 0;
    }

    &-landscapes{
        &__heading{
            margin-left: 1rem;
            margin-top: 2rem;
            @include section-heading;
            padding: 1rem;
            padding-bottom: 0;
            display: none;
        }
    }

    
}







.mobile-footer{
    height: 9vh;
    width: 100%;
    position: relative;
    z-index: 1000;
    display: none;
    bottom: 100%;
    
    
    .footer-img{
        width: 100%;
        position: absolute;
        z-index: 5;
        bottom: 0;
    }

    .footer-menu{
        height: 9vh;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 2rem 2.5rem;
        padding-bottom: 1.5rem;

        i{
            color: $yellow;
            font-size: 1.5rem;
            z-index: 50;
        }
    }

    @media #{$mobile} {
        display: none;
    }
}